<!DOCTYPE html>
<html>
    <head>
        <link href="/static/normalize.css" rel="stylesheet"/>
        <link href="/static/blueprintjs/blueprint-modern.css" rel="stylesheet"/>
        <link href="/static/blueprintjs/blueprint-popover2.css" rel="stylesheet"/>
        <link href="/static/blueprintjs/table-modern.css" rel="stylesheet"/>
        <link href="/static/blueprintjs/blueprint-icons.css" rel="stylesheet"/>
        <script src="/static/runtime.b.js"></script>
        <script src="/static/blueprint_ui.b.js"></script>
        <script src="/static/vendor.b.js"></script>
        <script src="/static/main.b.js"></script>
    </head>
    <body style="margin: 0;">
        <div id="root"></div>
        <div id="portal"></div>
    </body>
</html>